# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# =========================
# Jupyter Notebook
# =========================
.ipynb_checkpoints/

# =========================
# Virtual Environments
# =========================
venv/
env/
.venv/

# =========================
# OS / Editor Files
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Project Outputs
# =========================
output/
outputs/
*.csv

# =========================
# Logs
# =========================
*.log

# =========================
# Temporary Files
# =========================
*.tmp
*.swp